[Desktop Entry]
Version=1.0
Author=R4in8ow
Type=Application
Terminal=true
Exec=sudo apt update 
Exec=sudo apt upgrade -y
Name=Update System
Comment=Update/Upgrade 
Icon=/home/$USERS/Downloads/update.png
